{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nikitas Shop</title>

  <link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css" media="all" />


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css"/>


  <link
  rel="stylesheet"
  href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>





</head>
<body>
  <nav>
    <div class="container nav_container">
      <a href="{% url 'home' %}"><h4 style='font-weight:bold;'>NIKITAS_</h4></a>
      <ul class="nav_menu">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'item' %}">Products</a></li>
        <li><a href="{% url 'call' %}">Contact</a></li>
        <li><a href="{% url 'admin:index' %}">Login</a></li>
      </ul>
      <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
      <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
    </div>
  </nav>


    <header>
      <div class="container header_container">
        <div class="header_left">
          <h1>Nikitas shop provides all necessary products for happy life.</h1>
          <p>
            Shop with the widest range. We make you happy and full.
          </p>
          <a href="{% url 'call' %}" class="btn btn-primary">Order Call</a>
        </div>

        <div class="header_right">
          <div class="header_right-image">
            <img src='{% static "main/img/header.svg" %}' alt="An svg image">
          </div>
        </div>
      </div>
    </header>


      <section class="categories">
        <div class="container categories_container">
          <div class="categories_left">
            <h1>Categories</h1>
            <p>
            Your attention is given to the categories of products that you can find in our shop.
            </p>
            <a href="{% url 'item'%}" class="btn">Watch more</a>
          </div>
          <div class="categories_right">

            <article class="category">
              <span class="category_icon"><i class="uil uil-pizza-slice"></i></span>
              <h5>Ready food</h5>
              <p>There you can find some ready food.</p>
            </article>

            <article class="category">
              <span class="category_icon"><i class="uil uil-coffee"></i></span>
              <h5>Coffee and tea</h5>
              <p>Huge range of coffees and teas..</p>
            </article>

            <article class="category">
              <span class="category_icon"><i class="uil uil-glass-martini-alt"></i></span>
              <h5>Alcoholic drinks</h5>
              <p>Huge grocer of alcoholic drinks</p>
            </article>

            <article class="category">
              <span class="category_icon"><i class="uil uil-kid"></i></span>
              <h5>Baby food</h5>
              <p>Food for your kids.</p>
            </article>

            <article class="category">
              <span class="category_icon"><i class="uil uil-band-aid"></i></span>
              <h5>Medicine</h5>
              <p>Wide selection of medicines.</p>
            </article>

            <article class="category">
              <span class="category_icon"><i class="uil uil-bag"></i></span>
              <h5>Other</h5>
              <p>And more and more and more.</p>
            </article>
          </div>
        </div>
      </section>


      <section class="photo">
        <h2>Our Popular Places</h2>
        <div class="container photo_container">
          <article class="photo">
            <div class="photos_image">
              <img src="{% static 'main/img/1.jpg' %}">
            </div>
            <div class="photo_info">
              <h4>NIKITAS_ London Shop</h4>
            <p>
            Our most famous store in Britain
            </p>
            <a href="adresses.html" class="btn btn-primary">Learn More</a>
            </div>
          </article>



          <article class="photo">
            <div class="photo_image">
              <img src="{% static 'main/img/2.jpg' %}" >
            </div>
            <div class="photo_info">
              <h4>NIKITAS_ New-York Shop</h4>
            <p>
            Our most famous store in USA</p>
            <a href="adresses.html" class="btn btn-primary">Learn More</a>
            </div>
          </article>


          <article class="photo">
            <div class="photo_image">
              <img src="{% static 'main/img/3.jpg' %}">
            </div>
            <div class="photo_info">
              <h4>NIKITAS_ Moscow Shop</h4>
            <p>
              Our most famous store in Russia</p>
            <a href="{% url 'item' %}" class="btn btn-primary">Learn More</a>
            </div>
          </article>
        </div>
      </section>




</body>
</html>
